In [1]:
#sorting and finding min age and max age
ages= [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
mini=min(ages)
maxi=max(ages)
print("Min age in list",mini)
print("Max age in list",maxi)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age in list 19
Max age in list 26

In [2]:
#adding min age and max to list
ages.append(mini)
ages.append(maxi)
ages.sort()

In [3]:
#median age
if(len(ages)%2==0):
    print("Median age is :",ages[len(ages)//2])
else :
    print("Median age is :",(ages[len(ages)//2]+ages[len(ages)//2+1])/2)

Median age is : 24

In [4]:
#average age
print("average age is :",sum(ages)/len(ages))

average age is : 22.75

In [5]:
#range
print("Range is :",maxi-mini)

Range is : 7

<!-- Question 2 -->

In [6]:
dog = {}

dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Golden Retriever'
dog['legs'] = 4
dog['age'] = 5

student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 20,
    'marital_status': 'Single',
    'skills': ['Python', 'JavaScript'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}

student_length = len(student)
print("Length of student dictionary:", student_length)

skills = student['skills']
print("Skills:", skills)
print("Data type of skills:", type(skills))

student['skills'].extend(['HTML', 'CSS'])
print("Updated skills:", student['skills'])

student_keys = list(student.keys())
print("Dictionary keys:", student_keys)

student_values = list(student.values())
print("Dictionary values:", student_values)

Length of student dictionary: 9
Skills: ['Python', 'JavaScript']
Data type of skills: <class 'list'>
Updated skills: ['Python', 'JavaScript', 'HTML', 'CSS']
Dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary values: ['John', 'Doe', 'Male', 20, 'Single', ['Python', 'JavaScript', 'HTML', 'CSS'], 'USA', 'New York', '123 Main St']

In [7]:
sisters = ('Emily', 'Sophia')
brothers = ('James', 'William')

siblings = sisters + brothers

num_siblings = len(siblings)

print("Siblings:", siblings)
print("Number of siblings:", num_siblings)

family_members=siblings+("john","millie")
print(family_members)

Siblings: ('Emily', 'Sophia', 'James', 'William')
Number of siblings: 4
('Emily', 'Sophia', 'James', 'William', 'john', 'millie')

In [8]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
length_it_companies = len(it_companies)
print("Length of it_companies:", length_it_companies)

# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("it_companies after adding Twitter:", it_companies)

# Insert multiple IT companies at once to the set it_companies
it_companies.update(['Netflix', 'Tesla', 'Spotify'])
print("it_companies after adding multiple companies:", it_companies)

# Remove one of the companies from the set it_companies
it_companies.remove('Oracle')
print("it_companies after removing Oracle:", it_companies)

# Difference between remove and discard
# remove() will raise a KeyError if the item does not exist
# discard() will not raise an error if the item does not exist

# Join A and B
A_union_B = A.union(B)
print("A union B:", A_union_B)

# Find A intersection B
A_intersection_B = A.intersection(B)
print("A intersection B:", A_intersection_B)

# Is A subset of B
is_A_subset_B = A.issubset(B)
print("Is A subset of B:", is_A_subset_B)

# Are A and B disjoint sets
are_A_B_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets:", are_A_B_disjoint)

# Join A with B and B with A
A_join_B = A.union(B)
B_join_A = B.union(A)
print("A join B:", A_join_B)
print("B join A:", B_join_A)

# What is the symmetric difference between A and B
A_symmetric_difference_B = A.symmetric_difference(B)
print("A symmetric difference B:", A_symmetric_difference_B)

# Delete the sets completely
del A
del B
del it_companies

# Convert the ages to a set and compare the length of the list and the set
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of it_companies: 7
it_companies after adding Twitter: {'Oracle', 'Google', 'Facebook', 'Twitter', 'IBM', 'Microsoft', 'Amazon', 'Apple'}
it_companies after adding multiple companies: {'IBM', 'Microsoft', 'Apple', 'Spotify', 'Facebook', 'Oracle', 'Google', 'Twitter', 'Tesla', 'Amazon', 'Netflix'}
it_companies after removing Oracle: {'IBM', 'Microsoft', 'Apple', 'Spotify', 'Facebook', 'Google', 'Twitter', 'Tesla', 'Amazon', 'Netflix'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
A join B: {19, 20, 22, 24, 25, 26, 27, 28}
B join A: {19, 20, 22, 24, 25, 26, 27, 28}
A symmetric difference B: {27, 28}
Length of age list: 8
Length of age set: 5

In [9]:
import math

# Given radius
radius = 30

# Calculate the area of the circle
_area_of_circle_ = math.pi * (radius ** 2)
# Calculate the circumference of the circle
_circum_of_circle_ = 2 * math.pi * radius

print(f"Area of the circle with radius {radius} meters: {_area_of_circle_:.2f} square meters")
print(f"Circumference of the circle with radius {radius} meters: {_circum_of_circle_:.2f} meters")

# Taking radius as user input
user_radius = float(input("Enter the radius of the circle in meters: "))

# Calculate the area of the circle with user input radius
user_area_of_circle = math.pi * (user_radius ** 2)

print(f"Area of the circle with radius {user_radius} meters: {user_area_of_circle:.2f} square meters")

Area of the circle with radius 30 meters: 2827.43 square meters
Circumference of the circle with radius 30 meters: 188.50 meters
Enter the radius of the circle in meters: 12
Area of the circle with radius 12.0 meters: 452.39 square meters

In [10]:
# Given sentence
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words
words = sentence.split()

# Convert the list of words into a set to get unique words
unique_words = set(words)

# Get the number of unique words
number_of_unique_words = len(unique_words)

print(f"The number of unique words in the sentence is: {number_of_unique_words}")

The number of unique words in the sentence is: 10

In [11]:
# Using tab escape sequences to format the lines
formatted_text = "Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki"

print(formatted_text)

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [12]:
radius = 10
area = 3.14 * radius ** 2

formatted_string = "The area of a circle with radius {} is {} meters square.".format(radius, area)
print(formatted_string)

The area of a circle with radius 10 is 314.0 meters square.

In [14]:
# Function to convert pounds to kilograms
def pounds_to_kg(pounds):
    return round(pounds * 0.453592, 2)

# Read the number of students from the user
N = int(input("Enter the number of students: "))

# Initialize an empty list to store the weights in pounds
weights_lbs = []

# Read the weights in pounds from the user
for i in range(N):
    weight = float(input(f"Enter the weight of student {i + 1} in lbs: "))
    weights_lbs.append(weight)

# Convert the weights to kilograms
weights_kg = []
for weight in weights_lbs:
    weights_kg.append(pounds_to_kg(weight))

# Print the original weights and the converted weights
print(f"Original weights in lbs: {weights_lbs}")
print(f"Converted weights in kg: {weights_kg}")

Enter the number of students: 2
Enter the weight of student 1 in lbs: 23
Enter the weight of student 2 in lbs: 45
Original weights in lbs: [23.0, 45.0]
Converted weights in kg: [10.43, 20.41]